{% extends "base.html" %}

{% block content %}

<main>
    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Quantidade de votos</th>
                    </tr>
                </thead>            
                <tbody>
                    {% for obj in listVotacoes %}
                        <tr>
                            <td>
                                {{ obj.nome }}
                            </td>
                            <td>
                                {{ obj.numero_votos }}
                            </td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</main>



{% endblock content %}