{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Votação</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}" defer></script>
        <script src="js/index.js" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js" integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/index.js'%}"></script>

    </head>

    <body>

        <script>
            $(document).ready(function(){
                $('select').formSelect();
            });
        </script>

        <header>
            <div class="navbar-fixed">
                <nav> 
                    <div class="nav-wrapper teal lighten-2">
                        <a href="{% url 'index' %}" class="brand-logo">CONTROLE VOTAÇÃO</a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="{% url 'registrar_pessoa' %}"><i class="material-icons left">person_add</i>CADASTRAR PESSOA</a></li>
                            <li><a href="{% url 'registrar_votacao' %}"><i class="material-icons left">add_circle</i>CADASTRAR VOTAÇÃO</a></li>
                            <li><a href="{% url 'registrar_opvoto' %}"><i class="material-icons left">add_circle</i>CADASTRAR OPÇÃO DE VOTO</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <main>
            {% if messages %}
                <div class="container">
                    <div class="alert card teal lighten-3 text-lighten-2">
                        <div class="card-content">
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% block content %}

            {% endblock %}

        </main>
    
        <footer class="page-footer teal lighten-2" style="position:fixed;bottom:0;left:0;width:100%;">
            <div class="footer-copyright">
                <div class="container">
                    © Copyright 
                                2021 Controle Votação
                    <a class="white-text text-lighten-3 right" href="#!">MORE LINKS</a>
                </div>
        </footer>
        
    </body>
</html>