{% extends 'base.html' %}

{% load materializecss %}

{% block content %}

<br>
<br>
<br>

<form method="POST" class="col s12">
    <div class="container">

            <div class="container">

                {% csrf_token %}

                <div class="input-field col s6">
                    {{ form.nome_completo|materializecss:"icon=face" }}      
                </div>

                <div class="input-field col s6">
                    {{ form.cpf|materializecss:"icon=face" }}  
                </div>

                <div class="input-field col s6">
                    {{ form.data_nascimento|materializecss:"icon=date_range" }}                    
                </div>
                
                <div class="text-right">
                    <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <span class="text">Cadastrar</span>
                    </button>
                </div>
            </div>           
    </div>
</form>

{% endblock %}