{%extends "base.html"%}

{%block content%}

    <main>
        <div class="container">
            <div class="row">
                <h1>{{objVotacao.nome}}</h1>
                <form method="POST">
                    {% csrf_token %}
                    <p>
                        {% for q in listOpcaoVoto %}
                            <label>
                                <input name="voto" type="radio" value="{{q.id}}" required/>
                                <span>{{q}}</span>
                            </label><br>
                        {% endfor %}                        
                    </p> 
                    
                    <div class="text-right">
                        <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                            <span class="text">Cancelar</span>
                        </a>
                        <button class="btn btn-primary" type="submit">
                            <span class="text">Enviar</span>
                        </button>
                    </div>                     
                </form>                
            </div>
        </div>
    </main>


{%endblock%}